/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #0048B3 url(images/img01.png) repeat;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #626262;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #7D7764;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 180%;
}

ul,ol {
	
}

a {
	text-decoration: none;
	color: #C1002D;
}

a:hover {
	
}

#wrapper {
	overflow: hidden;
	background: #FFFFFF;
}

#header {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1200px 550px;
	background-image: url(images/robot_main.jpg)
}

#header.build,#header.code,#header.team {
	background-image: url(images/robot_build.jpg);
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Header */
#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 1200px;
	height: 550px;
	margin: 0 auto;
}

/* Logo */
#logo {
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 2px 1px black;
}

#logo h1,#logo p {
	text-transform: uppercase;
}

#logo h1 {
	padding: 200px 0px 0px 50px;
	letter-spacing: -1px;
	font-size: 100px;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 55px;
	font-size: 20px;
	font-weight: 300;
	color: #B8D1EE;
}

#logo p a {
	color: #696969;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */
#menu-wrapper {
	overflow: hidden;
	height: 80px;
}

#menu {
	overflow: hidden;
	height: 80px;
	background: #b2002a;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	font-family: 'Oswald', sans-serif;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #fc2c5d;
}

#menu a {
	display: block;
	height: 80px;
	margin: 0px;
	padding: 0px 30px;
	line-height: 80px;
	text-decoration: none;
	text-transform: lowercase;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
}

#menu a:hover,#menu .current_page_item a {
	background: #d50032;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	
}

/* Page */
#page {
	overflow: hidden;
	padding: 50px 0px 40px 0px;
}

/* Content */
#content {
	float: left;
	width: 690px;
	margin-right: 24px;
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: 200;
	color: #262626;
}

/* Sidebar */
#sidebar1 {
	float: left;
	width: 180px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar1 h2 {
	padding: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 200;
	color: #C1002D;
}

#sidebar2 {
	float: right;
	width: 282px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar2 h2 {
	padding: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 200;
	color: #C1002D;
}

#sidebar2 a {
	border: none;
}

#sidebar2 a:hover {
	text-decoration: underline;
}

/* Three Column Footer Content */
#footer-bg {
	overflow: hidden;
	padding: 50px 0px;
}

#footer-content {
	color: #FFB3C5;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 200;
	color: #FFFFFF;
}

#footer-content a {
	color: #FFB3C5;
}

#footer-content a:hover {
	text-decoration: underline;
}

#column1 {
	float: left;
	width: 280px;
	margin-right: 30px;
}

#column1 p {
	line-height: 1;
}

#column2 {
	float: left;
	width: 280px;
	margin-right: 30px;
}

#column3 {
	float: left;
	width: 280px;
}

#column4 {
	float: right;
	width: 260px;
}

/* Footer */
#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	color: #C59C9C;
}

#footer a {
	color: #C59C9C;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}

.box1 {
	overflow: hidden;
	height: 300px;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 7px 0px 7px 0px;
	border-top: 1px dashed #E7E2DC;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}

.list-style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style2 li {
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #EEEEEE;
}

.list-style2 a {
	padding-left: 15px;
	background: url(images/img10.png) no-repeat left 50%;
	color: #717171;
}

.list-style2 a:hover {
	text-decoration: underline;
	color: #606060;
}

.list-style2 .first {
	padding-top: 0px;
	border: none;
}

.list-style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style3 li {
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #890020;
}

.list-style3 a {
	padding-left: 15px;
	background: url(images/img10.png) no-repeat left 50%;
	color: #FFB3C5;
}

.list-style3 a:hover {
	text-decoration: underline;
}

.list-style3 .first {
	padding-top: 0px;
	background: none;
	border: none;
}

/* Three Column Content */
#four-column {
	overflow: hidden;
	padding: 30px 0px 30px 0px;
	border-top: 1px solid #EEEEEE;
	color: #626262;
}

#four-column #tbox1 {
	float: left;
	width: 282px;
	margin-right: 24px;
}

#four-column #tbox2 {
	float: left;
	width: 282px;
	margin-right: 24px;
}

#four-column #tbox3 {
	float: left;
	width: 282px;
}

#four-column #tbox4 {
	float: right;
	width: 282px;
}

.box-style {
	background: #191919 url(images/img05.jpg) repeat;
}

.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 200;
	color: #515151;
}

.box-style .image {
	width: 320px;
}

.box-style .arrow {
	background: url(images/img06.png) no-repeat right top;
}

.box-style .content {
	overflow: hidden;
	padding: 30px;
}

.divider {
	overflow: hidden;
	height: 50px;
	background: url(images/img04.png) no-repeat center top;
}